#wrap {

	width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */

	/* 가운데 정렬을 위한 바깥쪽 여백 설정 */

	margin: 0;

	margin-left: auto;

	margin-right: auto;

}

 

h1 {

	color: green; /* 글 색상 */

}

 

table {

	width: 100%;

	border-collapse: collapse;

	font-size: 12px; /* 글꼴 크기 */

	line-height: 24px; /* 줄 간격 */
	
	border-radius: 8px;

	border-style: hidden;

    box-shadow: 0 0 0 1px #000;
	
}

 

table td,th {

	border: #d3d3d3 solid 1px; /* 경계선 색상 스타일 굵기 */

	padding: 5px; /* 안쪽 여백 */
	
	/* text-align: center; */

}

 

th {

	background: yellowgreen; /* 배경색 */

}

 

img {

	width: 100%; /* 이미지 너비(가로) */

	height: 100%; /* 이미지 높이(세로) */
	
    object-fit : cover;

}

 

a {

	text-decoration: none; /* 링크 밑줄 없애기 */

	color: black; /* 글 색상 */

}

 

a:HOVER {

	text-decoration: underline; /* 밑줄 */

	color: green; /* 글 색상 */

}